*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;}
.top{
    width: 100%;
    height: 100vh;
    background-image: url(bg.jpg);}
.navbar{
    background: white;
    width: 100%;
    padding: 35px 0;
    align-items: center;
    justify-content: space-between;}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin:0 70px;
    position: relative;}
.navbar ul li a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;}
.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0%;
    background: rgb(144, 156, 155);
    position: absolute;
    right: 0;
    bottom: -5px;
    transition: 0.2s;
}
.navbar ul li:hover:after:not(.dropdown){
    width: 100%;
}   
.main{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: black;}
.main h1{
    font-size: 70px;}
.main p{
    margin: 20px auto;}
.button button{
    width: 200px;
    padding: 15px 0;
    margin: 20px 10px;
    border-radius: 30px;
    border: 2px solid rgb(144, 156, 155);
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: rgb(144, 156, 155);
    height: 100%;
    width: 0;
    position: absolute;
    border-radius: 30px;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;}
button:hover span{
    width: 100%;}
.dropbtn {
    background-color: white;
    font-size: 16px;
    border: none;
}
.dropdown {
    bottom: 5px;
    position: relative;
    display: inline-block;
}
.dropdown-content {
    right: -35px;
    display: none;
    position: absolute;
    background-color:white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} 
.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}